@import "./bootstrap.scss";
@import "./components.scss";
@import "./bootstrap-extended.scss";
@import "./colors.scss";
@import "./iconfont.scss";
@import "./custom-rtl.scss";


body{
  font-size: 18px;
}

.swiper-slide__size-auto .swiper-slide{
  width: 100% !important;
}

.app-content{
  //max-width: 990px;
  //margin: 0 auto !important;
}
[dir] .horizontal-layout.navbar-floating .horizontal-menu-wrapper .navbar-horizontal.floating-nav {
  /* margin: 0 auto; */
  //max-width: 930px;
  left: 50%;
  transform: translate(-50%, 20px);
  margin: 0;
}