@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";

// Core variables and mixins overrides
@import "../../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

@import "../../core/variables/components-variables";

.bottom-navbar{
  background-color: #ffffff;
  // background: linear-gradient(118deg, #ff5722, #f1825d);
  color: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: .5rem 3rem;

  .bottom-navbar__btn{
    padding: 10px;
  }
}