@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";

// Core variables and mixins overrides
@import "../../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

@import "../../core/variables/components-variables";


.categories-drawer{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  padding: 2rem;
  background-color: #0000006e;

  .categories-drawer__right{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .child-categories__wrapper{
      max-height: calc(100% - 2rem);
    }
  }

  .categories-drawer__card{
    height: 100%;
    .categories-drawer__card-body{
      display: grid;
      grid-template-columns: 250px 1fr;
      .parent-categories-wrapper{
        height: 100%;
        position: relative;
        overflow: hidden;
        &::after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3rem;
          box-shadow: inset #fff 0px -56px 20px -30px;
        }
    
        .parent-categories{
          height: 100%;
          overflow-y: scroll;
          padding-bottom: 6rem;
          &::-webkit-scrollbar {
            width: 4px;
          }
          // &::-webkit-scrollbar-track {
          //   -webkit-box-shadow: none;
          // }
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius: 5px;
          }
          .parent-categories__item{
            cursor: pointer;
            &:hover{
              color: var(--primary);;
            }
          }
        }
      }
    
      .child-categories__grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        align-items: flex-start;
        overflow-y: scroll;
        max-height: 100%;
        .child-categories__second-layer-item{
          position: relative;
          min-width: 250px;
          margin-bottom: 1rem;
          padding: 0 0.5rem;
          &:not(.isHide){
            padding-bottom: 2rem;
          }
          &.isHide{
            max-height: 16rem;
            overflow: hidden;
          }
        }
        .child-categories__item{
          .child-categories__parent{
            // border-bottom: 1px solid #0003;
            font-weight: 500;
          }

          .view-more__shadow{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2rem;
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 85%, rgba(255,255,255,0) 100%);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            cursor: pointer;
            &:hover{
              color: var(--primary);;
            }
          }
          & > p{
            cursor: pointer;
            margin: 0 0 6px 0;
            &:hover{
              color: var(--primary);;
            }
          }
        }
      }
    }
  }
}