.custom-select{
  .dropdown-menu{
    left: 0 !important;
    right: 0 !important;
    top: 100% !important;
    transform: none !important;
    margin-top: 0 !important;
    flex-direction: column;
    max-height: 15rem;

    overflow-y: auto;

    &.show{
      display: flex !important;
    }

    &::before{
      content: none !important;
    }
  }
}