@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";

// Core variables and mixins overrides
@import "../../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

@import "../../core/variables/components-variables";

.cus-footer {
  grid-gap: 5px;

  .footer-banner__wrapper{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    overflow: hidden;
    .footer-banner{
      width: 100%;
      height: 100%;
      padding: 3rem 2rem;
      background-color: #0000008c;
      color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .footer-banner__title{
        color: #FFF;
      }
      .footer-banner__content{
        margin: 0;
      }
    }
  }

  .footer-row {

    a{
      color: #626262;
    }

    .main-f-category {
      font-weight: bold;
      padding: 0 10px 0 0;
      // border-right: 2px solid #707070;
    }

    .f-category {
      padding: 0 10px;
      margin: 0.3rem 0 0 0;
      border-right: 2px solid #707070;

      &:last-child {
        border: none;
      }
    }
  }

  .footer-license {
    background: linear-gradient(
      118deg,
      rgba($primary, 1),
      rgba($primary, 0.7)
    );
    color: #fff;
    margin: 10px -30.8px -14px;
    padding: 14px 30.8px !important;

    a {
      color: inherit;
      border-bottom: 1px solid transparent;
      transition: .1s ease-in-out;

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }

    p {
      border-bottom: 1px solid transparent;
    }
  }
}
