@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";

// Core variables and mixins overrides
@import "../../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

@import "../../core/variables/components-variables";

.categories-list {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  grid-gap: .3em;
  padding: 0;

  @media(max-width: 992px) {
    flex-direction: row;

    .burger-menu{
      display: block;
    }
  }

  li{
    flex-grow: 1;
    .link {
      //width: min-content;
      font-size: 1.2em;
      padding: .3em 1.3em .3em 1em;
      color: $link-color;
      fill: $link-color;
      display: grid;
      grid-template: 1fr / 25px 1fr;
      grid-gap: 5px;
      align-items: center;
      transition: .05s ease-in;
      border-radius: 5px;
      @media(max-width: 992px) {
        width: 100%;
        background: $link-color;
        color: $white;
        fill: $white;
      }

      &:hover {
        background: $link-color;
        color: $white;
        fill: $white;
      }
    }
  }
}
