.edit-product{

  .cell{

    .images{
      height: 220px;
      width: 220px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      grid-gap: 10px;
      overflow: auto;
      padding: 0 10px;

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .image-block{
        position: relative;
        height: 95px;
        width: 95px;
        transition: .05s ease-in;

        &.is_feature_image{
          height: 150px;
          width: 190px;
        }

        &:hover{
          transform: scale(1.05) translateY(-5px);
          box-shadow: 0 5px 5px 0 #dedede;
        }

        .image-actions{
          width: 60px;
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 2px;
          background: rgba(0, 0, 0, .2);
          border-radius: 5px;

          .trash{
            stroke: #ff5656;
            &:hover{
              fill: #ff5656
            }
          }
        }
      }
    }
  }

  .swiper-gallery .swiper-container:first-child{
    height: 15rem;
  }
}
