.accounts-shop {
  display: flex;
  flex-direction: column;
  grid-gap: calc(28px - .7em);

  .shop-detail {
    .shop-logo{
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: top;
    }
    .shop-description{
      word-break: break-all;
    }

    @media screen and (max-width: 600px) {
      .shop-logo{
        margin: 0 auto !important;
        display: block;
        float: none !important;
      }
    }
  }
}
