@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";
@import "../bootstrap-extended/mixins";

// Core variables and mixins overrides
@import "../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

// Overrides user variable
@import "../core/variables/components-variables";


.auth-store_img_uploader{
  display: grid;
  grid-gap: 1.5em;

  div{
    grid-gap: 1.5em;
    img{
      height: 100px;
      width: 100px;
      border-radius: 5px;
      object-fit: contain;
      padding: 5px;
      border: 1px solid #d9d9d9;
    }
    .drag-n-drop{
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: 1px solid #d9d9d9;
      outline-color: $primary;
      p{
        width: 100%;
        text-align: center;
      }
    }
  }

}
