.categories-page{
  .categories-list{
    display: flex;
    flex-direction: column;
    .categories-list__item{
      width: 100%;
      .categories-list__card{
        margin-bottom: 1rem;
        &>.card-header{
          padding: 1.5rem;
        }
      }
    }
  }
}

// make jumbotron card body padding
@media only screen and (min-width: 992px) {
  .categories-page {
    .card-body {
      padding: 8rem !important;
    }
  }
}
// make jumbotron card body padding
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories-page {
    .card-body {
      padding: 6rem !important;
    }
  }
}
