.checkout{
  .payment-type{
    &__btn{
      border: 1px solid #dedede;
      aspect-ratio: 1/1;
      cursor: pointer;
      .card-body{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover{
        background-color: #dedede;
      }
    }
  }
}