@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";
@import "../bootstrap-extended/mixins";

// Load variable overrides
@import "../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

// Overrides user variable
@import "../core/variables/components-variables";

$wishlist-bg: #f6f6f6;

.main-page {
  .main-page_categories {
    padding-bottom: $spacer * 2.2;

    li {
      height: 25px;
      width: 100%;
      padding: 0 20px;
      border-radius: .5em;
      font-size: 16px;

      &:hover {
        color: $primary;
      }
    }
    .dropdown-menu{
      margin: 0 !important;
      .dropdown-item{
        width: 300px;
        font-size: 15px;
      }
    }

  }

  .category-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      margin: 0;
    }

    .burger-menu {
      background: none;
      padding: 0;
      border: none;
      display: none;
      @media(max-width: 992px) {
        display: block;

      }
    }
  }


}

.main-page-carousels{
  max-width: 100%;
  padding-bottom: 2.2rem;
  height: 50rem;
  //.carousel.slide, .carousel-inner, .carousel-item, .carousel-item>img{
  //  height: 100%;
  //  max-height: 100%;
  //}

  //.carousel-item>img{
  //  object-fit: cover;
  //  width: 100%;
  //}
  .main-page-carousels__top__wrapper{
    @media(max-width: 600px) {
      height: 100%;
      max-height: 100%;
    }
  }
  .main-page-carousels__swiper-gallery, .ads-swiper{
    height: 100%;
    .swiper-container{
      height: 100%;

      .swiper-slide{
        width: 100% !important;
        object-fit: cover;
      }
    }
    .swiper-button-next::after, .swiper-button-prev::after{
      font-size: 2.5rem;
      color: #c7c7c7;
    }
  }

  &__bottom__wrapper {
    height: 50%;
    max-height: 50%;

    > div{
      height: 100%;
      max-height: 100%;
      width: 50%;
    }

    @media(max-width: 576px) {
      display: grid;
      grid-template: unset;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      > div{
        width: 100%;
        height: auto !important;
      }
    }
  }

  &__top__wrapper{
    height: 50%;
    max-height: 50%;
  }
  @media screen and (max-width: 600px) {
    height: auto;

    &__bottom__wrapper {
      display: none;
    }
    &__top__wrapper{
      height: auto;
      max-height: auto;
    }
  }
}
