// ================================================================================================
// 	File Name: users.scss
// 	Description: Page content different types of users page layouts SCSS.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Vuexy React Admin Template
// 	Version: 1.0
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

// Core variables and mixins overrides
@import "~bootstrap/scss/_functions.scss";
@import "../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

// Overrides user variable
@import "../core/variables/components-variables";

// User profile Scss
#user-profile {
  .profile-nav {
    .profile-nav_row{
      a{
        display: grid;
        grid-template: 1fr / 10% 90%;
        align-items: center;
        grid-gap: 10px;
        padding: 10px 5px;
        border-radius: 5px;
      }
      p{
        margin: 0;
      }
      .activeLink{
        background: $primary;
        color: $white
      }
    }
  }
  #profile-info {
    // scss for icon-more-icon
    .suggested-block {
      .user-page-info {
        p {
          margin-bottom: 0;
          font-weight: 500;
        }
      }
      svg {
        cursor: pointer;
      }
    }
  }
  .relative {
    position: relative;
  }
}
